@media (max-width: 750px) or (max-height: 540px) {
  :root {
    --bg: purple;
  }
  body {
/*    transform: scale(0.48);*/
  }
  html, body {
    padding: 0;
    margin: 0;
  }
  
}

/*360x592*/

/*672x336*/